.Suggestiones{
    background-color: white;
    width: 188px;
    cursor: pointer;
    
    
    
}

.Suggestiones:hover{
   background-color: antiquewhite;
}


.form{
    position: absolute;
    top: 8px;
    left: 25px;
    
}

@media only screen and (max-width: 760px) {
    .form{
        top: 40px;
        left: 55px;
    }

}

@media only screen and (max-width: 320px) {
    .form{
        left: 28px;
    }

}

@media only screen and (max-width: 283px) {
    .form{
        left: 2px;
    }

}